@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans:wght@300;400&display=swap");
// Vars
$bodyFont: "Open Sans", sans-serif;
$headings: "Caveat", cursive;
$fontSize: 16px;
$orange: orangered;
$white: #fff;
$black: #000;
$gray: #444;
$lightGray: #eee;
$padding: 70px 0;
$transition: 0.3s ease;
$borderRadius: 10px;
$boxShadow: 0 0 20px #999;
// Mixins
@mixin pozadinskeSlike {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $white;
}
@mixin btn {
  padding: 15px 30px;
  background: $orange;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  transition: $transition;
  cursor: pointer;
  margin-top: 30px;
  &:hover {
    color: $white;
    background: $gray;
  }
}
// Basic Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $bodyFont;
  background: $lightGray;
  color: $gray;
  line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings;
}
.underline {
  display: block;
  content: "";
  width: 200px;
  height: 2px;
  background: $orange;
  margin: 50px auto 0 auto;
}
.container {
  width: 80%;
  margin: auto;
}
// Header
header {
  background-image: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)),
    url(../img/header.jpg);
  height: 100vh;
  @include pozadinskeSlike();
  p {
    font-size: 2rem;
    font-weight: 300;
    &::after {
      @extend .underline;
    }
  }
  h1 {
    font-size: 7rem;
  }
}
// Uvod
.uvod {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: $padding;
  article {
    flex: 0 0 48%;
    img {
      width: 100%;
      display: block;
    }
    .text {
      background: $white;
      padding: 40px;
      text-align: center;
      p {
        font-size: 1.2rem;
      }
      p:first-child {
        &::after {
          @extend .underline;
          margin: 30px auto 20px auto;
          width: 50px;
        }
      }
      h2 {
        font-size: 2.5rem;
      }
      button {
        @include btn();
      }
    }
  }
}
// CTA
.cta {
  background-image: linear-gradient(rgba($black, 0.5), rgba($black, 0.5)),
    url(../img/cta.jpg);
  height: 60vh;
  @include pozadinskeSlike();
  p {
    font-size: 1.5rem;
    &::after {
      @extend .underline;
    }
  }
  h2 {
    font-size: 6rem;
  }
  button {
    @include btn();
  }
}
// Galerija
.galerija {
  padding: $padding;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @extend.container;
  article {
    flex: 0 0 48%;
    margin-bottom: 45px;
    img {
      width: 100%;
      border: 15px solid $white;
      border-radius: $borderRadius;
      box-shadow: $boxShadow;
      transition-duration: 0.7s;
      &:hover {
        transform: scale(1.1);
        border: 15px solid $orange;
      }
    }
  }
}
// Footer
footer {
  padding: $padding;
  text-align: center;
  background: $gray;
  article {
    & > a {
      color: $orange;
      margin: 0 20px;
      transform: $transition;
      font-size: 2rem;
      &:hover {
        color: $white;
      }
    }
    p {
      color: $white;
      margin-top: 30px;
      a {
        color: $orange;
        text-transform: uppercase;
        transition: $transition;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
